.cart .list-products {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

.cart table {
  width: 100%;
}
.cart table a {
  color: black;
}

.cart table th {
  padding: 15px;
  background-color: var(--color2);
  color: var(--white-font);
}

.cart table td {
  padding: 5px;
}
.cart table tr:nth-child(even) {
  background-color: #cddbdd89;
}
.cart table tr:nth-child(even):hover {
  background-color: var(--color2-light);
}
.cart table tr:nth-child(odd) {
  background-color: #edededde;
}
.cart table tr:nth-child(odd):hover {
  background-color: #a1a1a171
}

.cart table tr td label {
    display: flex;
}

.cart table .product.img {
  width: 100px;
  height: 100px;
}

.cart .deskripsi {

  padding: 5px 10px;
  box-sizing: border-box;
}

.cart .pembayaran {
  background-color: var(--color2-light);
}
.cart .pembayaran .wrapper {
  justify-content: flex-end;
}
.cart .pembayaran .object {
  margin: 10px;
  align-self: center;
}
.cart .pembayaran p {
  font-size: 16pt;
  font-weight: 600;
}
.cart .pembayaran .btn-block {
  width: 150px;
}

.cart .delete-cart-logo {
  width: 32px;
  height: 32px;
  display: flex;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/icons/delete-cart.png");
  opacity: 0.7;
}
.cart .delete-cart-logo:hover {
  opacity: 1;
}

@media screen and (min-width: 240px) and (max-width:1024px) {
  .cart table a {
    flex-direction: column;
  }

  .cart table .img {
    align-self: center;
    justify-self: center;
    width: 20px;
    flex: 1;
  }

  .cart table .deskripsi {
    flex: 2;
    font-size: 10pt;
  }

}