.row-contact {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.card-contact img {
  width: 110px;
  border-radius: 5px;
}

.contact-col {
  flex-basis: 31vw;
  margin-bottom: 5vw;
  padding: 15px 8px;
}

.card-contact {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: #00000059 0px 5px 15px;
  transition: 0.7s;
}

.card-contact:hover {
  border: 1px solid #0655354e;
  background: #0655354e;
  transition: 0.3s;
}

h3 {
  margin-top: 15px;
  margin-bottom: 8px;
}