.products .product.img-product {
  background-size: contain;
  background-color: var(--color2-light);
}

.products-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container li {
  margin: 20px;
  text-align: center;
}

.products-container a {
  color: black;
}

.products .box-container {
  justify-content: center;
}

.products .box-square {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d9d8d8;
  transition: 0.3s;
}
.products .box-square:hover {
  box-shadow: 0 0 10px #8080809d;
  transform: translateY(-2px);
}

.products .box-square .product.img {
  width: 100%;
  flex: 3;

  background-image: url("../img/products/durian.jpg");
}

.products-container .deskripsi {
  flex: 1;
  padding: 5px 10px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
}
.products-container p:nth-child(1) {
  flex: 2;
  font-size: 12pt;
}
.products-container p:nth-child(2) {
  flex: 1;
  font-size: 10pt;
}

.products .mode {
  position: absolute;
  align-self: flex-end;
}
.products .mode button {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  opacity: 0.7;
}
.products .mode button:hover {
  opacity: 1;
}

@media screen and (min-width: 240px) and (max-width:1024px) {
  .products-container li {
    margin: 10px;
    font-size: 9pt;
  }

  .products-container .box-container{
    flex-direction: row;
  }

}
