

.sign-in-box input {
  width: 200px;
}

.sign-in-box input[type="submit"] {
  width: 100%;
}

.sign-in-box p {
  font-size: 10pt;
  margin: 10px 0 0 0;
}

.sign-in-box a {
  color: black;
}

@media screen and (min-width: 240px) and (max-width:1024px) {

}

